@page "/"

<h1>Welcome to the Country Explorer!</h1>
<p>Discover information about any country in the world! Enter a country name to view its flag, population, spoken languages, official currency, and more.</p>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/BlankMap-World-v6.png/1200px-BlankMap-World-v6.png" alt="Image of the world" width="100%" />

<h2>How to use:</h2>
<ul>
    <li>Type the name of the country in the search field.</li>
    <li>Click the "Search" button.</li>
    <li>View all the details about the selected country!</li>
</ul>

<p>Explore and learn more about our planet in a simple and fast way!</p>
